
.currency_imput{
    border-right: none !important;
}


.currency_input{
    text-align:right;
    border-right: none !important;
    width: 75px;
}

.ui-dialog-titlebar{
    display: none !important;
}




 #transacion_form .amount_t .chzn-container {   min-width:75px !important;}
 #transacion_form .amount_t .chzn-container li { color:black !important; font-weight: normal !important;}


.ui-tabs .ui-tabs-nav li a{
color:gray !important;

}

.table th{
    color:#9641b5 !important;
    background:#ffffff !important;
}
.table th pre,.table th div{
    color:#9641b5 !important;
 }

.ui-tabs .ui-tabs-nav li {
    top: 4px;
     background: none;
    border: none;
    /* color: #fff !important; */
}


.ui-tabs .ui-tabs-nav li.ui-tabs-active a{
     height: 34px !important;
     color:#9641b5 !important;
     padding-bottom: 0px !important;
     padding-bottom: 1px;
     border-bottom:3px solid #9641b5 !important;
}


.ui-widget-header {
    font-weight: bold;
    color: gray  !important;
    background:#ffffff  !important;
}

.ui-tabs .ui-tabs-nav {
    height: 52px;
 margin-bottom: 22px;
}


.ui-tabs .ui-tabs-nav li:hover a {
    color:#9641b5 !important;
    background: #ffffff !important;
    border: none;
    /* color: #fff !important; */
}

.ui-tabs .ui-tabs-nav li a {
    padding: .5em 0.8em !important;
    color:#fff;
    /* padding: 3px !important; */
}


.customer_names_select .chzn-container-single .chzn-drop{
        width: 300px !important;

}


 

.chip_1{
    position: relative;
    top: 8px;
    left: 75px;
}

.chip_1_{
  
    left: 75px;
}
#error_line{
     display: inline !important;
     padding: 0;
     margin: 0;
}


.error_border{

    border: 2px solid red !important;
 }


.bl_list{ background: none !important; }



.c_ac_page th{
    text-align:center;
    padding:5px !important;
    font-size: 16px;
     
}








body{
    background:#ffffff !important;

}

.form,.ui-widget-content{
 background: #ffffff !important;
}

.dataTables_paginate{
    margin-top:20px !important;
}

 .dataTable  
{
  box-shadow:none !important;
}


.lading_page_list div{
    background:lightgrey !important;
    color:#804fa2 !important;

      font-weight: normal !important;
  padding: 5px !important;
  margin: 5px 5px;
 border-radius:1em;
      border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
